{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <style>
        #main-container{
            margin: 150px auto;
            width: 600px;
        }
        table{
            background-color: white;
            text-align: left;
            border-collapse: collapse;
            width: 100%;
            margin-top: 70px;
        }

        th, td{
            padding: 20px;
        }

        thead{
            background-color: #001f3f;
            border-bottom: solid 5px #0F362D;
            color: white;
        }

        tr:nth-child(even){
            background-color: #00a65a;
        }

        tr:hover{
            background-color: #369681;
            color: white
        }
    </style>


{% endblock %}

{% block body %}

    {{ parent() }}

    <div class="main-container">
        <table>
            <thead>
                <tr><th>ICAO</th><th>Tiempo de aterrizaje estimado</th><th>Aeropuerto Origen</th><th>Aeropuerto Destino</th></tr>
                {% for flight in flights %}
                    <tr><th>{{ flight[0] }}</th><th>{{ flight[1] }}</th><th>{{ flight[2] }}</th><th>{{ flight[3] }}</th></tr>
                {% endfor %}
            </thead>
        </table>
    </div>

{% endblock %}