{% extends 'base.html.twig' %}


{% block title %}
    userpage
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css"/>
{% endblock %}

{% block body %}
    {{ parent() }}


    <div class="ui equal width grid">
        <div class="center aligned row">
            <div class="column">
                <ul></ul>{#for filling the gap#}
            </div>
        </div>
    </div>

    <div class="ui equal width grid"">
        <div></div>
        <div class="center aligned row">
            <div class="column">
                <ul>Mapas</ul>
                <ul class="item">
                    <a href={{ path('user_tracking') }} class="ui button">Mapa</a>
                </ul>
                <ul class="item">
                    <a href={{ path('traffic') }} class="ui button">Tráfico</a>
                </ul>

                <ul>Equipaje</ul>
                <ul class="item">
                    <a href={{ path('luggage search') }} class="ui button">Mi equipaje</a>
                </ul>
                <ul class="item">
                    <a href={{ path('luggage') }} class="ui button">Lista de equipaje</a>
                </ul>
                <ul class="item">
                    <a href={{ path('lost luggage') }} class="ui button">Equipaje perdido</a>
                </ul>
            </div>



            <div class="column">
                <ul>Pronostico del tiempo</ul>
                <ul class="item">
                    <a href={{ path('weather') }} class="ui button">Tiempo</a>
                </ul>

                <ul>Listado de vuelos</ul>
                <ul class="item">
                    <a href={{ path('flights') }} class="ui button">Vuelos</a>
                </ul>

                <ul>Vuelos en directo</ul>
                <ul class="item">
                    <a href={{ path('flights tracking') }} class="ui button">mapa de aviones</a>
                </ul>

                <ul>Ayuda por chat</ul>
                <ul class="item">
                    <a href={{ path('watson') }} class="ui button">watson</a>
                </ul>
            </div>



            <div class="column">


                {% if is_granted('ROLE_ADMIN') %}
                    <ul>Especial para ti</ul>
                    <ul class="item">
                        <a href={{ path('heatmap') }} class="ui button">Heatmap</a>
                    </ul>
                    <ul class="item">
                        <a href={{ path('admin') }} class="ui button">Administrar</a>
                    </ul>
                    <ul class="item">
                        <a href={{ path('settings') }} class="ui button">Ajustes</a>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>















{% endblock %}
