{% extends 'base.html.twig' %}

{% block title %}
    Asistente Virtual
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css"/>
    <style>
    #contenedor{
        margin-top: 73px;
/*        margin: auto;*/
        max-width: 800px;
        max-height: 800px;
        margin-left: 275px;
    }

    #conversaciones{
        height:200px;
        margin-bottom: 10px;
        border:1px solid #CCC;
        overflow-y: scroll;
        position: relative;

    }
    </style>
{% endblock %}

{% block body %}
    {{ parent() }}
    <div style="background-image: url('img/white_logo.png')">
        <div id="contenedor" style="background-color: #DADADA;">
            <h3 style="text-align: center">Chat con Manage Your Airport</h3>
            <div id="conversaciones">
                {% for mensaje in mensajes %}
                    <b>{{ "Tú: " }}</b> {{ mensaje.send }} <br>
                    <b>{{ "Watson: " }}</b> {{ mensaje.received }} <br>
                {% endfor %}
            </div>
            <div style="text-align: center">
                {{ form_start(form) }}
                    {{ form_row(form.send) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}