{% extends 'base.html.twig' %}

{% block title %}
    Asistente Virtual
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css"/>
    <style>
    #contenedor{
        margin-top: 150px;
        max-width: 800px;
        max-height: 800px;
        margin-left: 275px;
    }

    #conversaciones{
        height:200px;
        scroll-behavior: auto;
        margin-bottom: 10px;
        border:1px solid #CCC;
        overflow-y: scroll;
        position: relative;
        -moz-border-radius: 12px;
        -o-border-radius: 12px;
        border-radius: 12px;
        -webkit-border-radius: 12px;

    }
    </style>

{% endblock %}

{% block body %}
    {{ parent() }}

    <div id="contenedor">
        <h3 style="text-align: center">Chat con Manage Your Airport</h3>
        <div id="conversaciones" style="background-color: #DADADA">
            {% for mensaje in mensajes %}
                <b>{{ "Tú: " }}</b> {{ mensaje.send }} <br>
                {% for recibido in mensaje.received %}
                    <b>{{ "Watson: " }}</b> {{ recibido }} <br>
                {% endfor %}
            {% endfor %}
        </div>
        <div style="text-align: center">
            {{ form_start(form) }}
                <div style="margin-left: -50px">{{ form_row(form.send) }}</div>
                <div style="margin-top: 10px"></div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}