{% extends 'base.html.twig' %}

{% block title %}Opciones{% endblock %}

{% block body %}
    <div class="ui middle aligned center aligned grid" style="background-color: #DADADA;">
        <div class="row" style="margin-top: 220px; margin-bottom: 240px">
            <div class="column">
                <h2 class="ui teal image header">
                    <img src="{{ asset('img/logo.png') }}" class="image">
                    {#<div class="content">#}
                        ManageYourAirport
                    {#</div>#}
                </h2>
                <div style="text-align: center;margin-left: 10px">
                    {{ form_start(form) }}
                        <div style="margin-left: -8px; margin-bottom: 5px">{{ form_row(form.slackChannel ) }}</div>
                        <div style="margin-left: -17px; margin-bottom: 5px">{{ form_row(form.webhookURL ) }}</div>
                        <div style="margin-left: -155px; margin-bottom: 5px">{{ form_row(form.flightsWindowsTime ) }}</div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
