{% extends 'base.html.twig' %}

{% block title %}Tiempo ofrecido por AEMET{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css"/>
    <style type="text/css">
        body {
            background-color: #DADADA;
        }
        .column {
            max-width: 450px;
        }
        table{
            background-color: white;
            text-align: left;
            border-collapse: collapse;
            width: 100%;
            margin-top: 70px;
        }

        th, td{
            padding: 25px;
        }

        thead{
            background-color: #246355;
            border-bottom: solid 5px #0F362D;
            color: white;
        }

        tr:nth-child(even){
            background-color: #ddd;
        }

        tr:hover{
            background-color: #369681;
            color: white
        }
    </style>
{% endblock %}
{% block body %}

    {{ parent() }}

    {% if failed==true %}
        <div class="ui equal width grid">
            <div></div>
            <div class="center aligned row">
                <div class="column">
                </div>
                <div class="column">
                    <ul>Lo siento, estamos teniendo problemas con la conexion a Aemet, intentalo mas tarde</ul>
                </div>
                <div class="column">
                </div>
            </div>
        </div>
    {% else %}
        <div style="margin-top: 73px">
            <table>
                <thead>
                <tr>
                    <th>       </th><th>Ahora</th><th>Hoy</th><th>Mañana</th>
                </tr>
                </thead>
                <tr>
                    <td style="background-color: #246355; color: white">cielo</td><td>{{ estado_cielo_ahora }}</td><td>{{ estado_cielo_hoy }}</td><td>{{ estado_cielo_manana }}</td>
                </tr>
                <tr>
                    <td style="background-color: #246355; color: white">Velocidad media viento</td><td>{{ viento_ahora }} km/h</td><td>{{ viento_ahora }} km/h</td><td>{{ viento_manana }} km/h</td>
                </tr>

                <tr>
                    <td style="background-color: #246355; color: white">Probabilidad de Precipitacion</td><td>{{ precipitacion_ahora }}%</td><td>{{ precipitacion_hoy }}%</td><td>{{ precipitacion_manana }}%</td>
                </tr>
                <tr>
                    <td style="background-color: #246355; color: white">Cota de nieve</td><td>{{ cota_de_nieve_ahora }}</td><td>{{ cota_de_nieve_hoy }}</td><td>{{ cota_de_nieve_manana }}</td>
                </tr>
                <tr>
                    <td style="background-color: #246355; color: white">Tº Mínima</td><td>----</td><td>{{ temperatura_minima_hoy }}ºC</td><td>{{ temperatura_minima_manana }}ºC</td>
                </tr>
                <tr>
                    <td style="background-color: #246355; color: white">Tº máxima</td><td>----</td><td>{{ temperatura_maxima_hoy }}ºC</td><td>{{ temperatura_maxima_manana }}ºC</td>
                </tr>
                <tr>
                    <td style="background-color: #246355; color: white">Temperatura Actual</td><td>{{ temperatura_ahora }}ºC</td>
                </tr>
            </table>
        </div>
    {% endif %}

{% endblock %}